.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
}

.hero-section {
  position: relative;
  padding-top: 150px;
  padding-bottom: 254px;
  background: #6176f7;
  color: #ffffff;
  text-align: left;
}
.hero-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero-text {
  max-width: 790px;
}
.hero-text .subtitle {
  font-weight: 600;
  font-size: 24px;
  color: #ffc27a;
  margin-bottom: 35px;
}
.hero-text h1 {
  font-size: 56px;
  line-height: 72px;
  margin-bottom: 40px;
}
.hero-text .description {
  font-size: 20px;
  max-width: 496px;
  margin-bottom: 50px;
}
.hero-image img {
  width: 100%;
  max-width: 738px;
  height: auto;
  background-color: #6176f7;
}

.services-section,
.how-it-works-section,
.why-choose-us-section {
  padding: 100px 0;
}

.services-section {
  padding: 100px 0;
  text-align: left;
}
.services-header h2 {
  font-size: 56px;
  color: #3461fd;
  padding-bottom: 16px;
}
.services-section > .container > p {
  font-size: 20px;
  color: #6d737a;
  margin-bottom: 80px;
}
.service-cards {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
}
.service-card {
  background: #ffffff;
  border-radius: 24px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  width: 312px;
  box-shadow: 0px 10px 50px rgba(109, 115, 122, 0.24);
}
.service-card-image-wrapper {
  position: relative;
}
.service-card-image-wrapper img {
  width: 100%;
  height: 207px;
  border-radius: 12px;
  background-color: rgba(30, 144, 255, 0.5);
  margin-bottom: 16px;
}
.service-card-tag {
  position: absolute;
  top: 24px;
  left: 24px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 6px;
  padding: 6px 12px;
  font-size: 16px;
  font-weight: 500;
  color: #1b1d1f;
}
.service-card p {
  font-size: 20px;
  color: #363a3d;
  margin-bottom: 16px;
  padding: 0 8px;
}
.service-card-footer {
  border-top: 1px solid #e7e9eb;
  padding: 16px 8px 0 8px;
  margin-top: auto;
}
.service-card-footer span {
  font-weight: 600;
  font-size: 24px;
  color: #1b1d1f;
}

.how-it-works-section {
  padding: 100px 0;
  background: #f8f4ff;
}
.how-it-works-section h2 {
  font-size: 56px;
  color: #21212f;
  margin-bottom: 80px;
  text-align: left;
}
.steps {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.step {
  background: #ffffff;
  border-radius: 30px;
  padding: 32px;
  flex: 1;
}
.step p {
  font-weight: 600;
  font-size: 24px;
  color: #000000;
  margin: 0 0 32px 0;
}
.step h3 {
  font-weight: 600;
  font-size: 24px;
  color: #363a3d;
}
.step-connector {
  width: 44px;
  height: 44px;
  background: linear-gradient(180deg, #ffc27a 0%, #ffa337 100%);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 20px;
}

.why-choose-us-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 147px;
  padding-bottom: 120px;
}
.why-choose-us-text p {
  padding-top: 24px;
  padding-bottom: 37px;
  max-width: 648px;
  font-size: 24px;
  line-height: 32px;
}
.container h2,
.why-choose-us-text h2 {
  font-size: 32px;
  font-weight: bold;
}
.why-choose-us-image img {
  background-color: white;
}
